* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
    
    html,
    body {
    background-color: #008061;
    font-family: "Lato", sans-serif;
    text-align: center;
    position: relative;
    padding-top: 50px;
    z-index: -2;
    }
    
    .layout-body {
        z-index: -1;
        position: relative;
    }
    
    .button-container {
        background-color: #008061;
        white-space: nowrap;
        overflow-x: hidden;
        overflow-y: auto;
        display: inline-block;
        width: 290px;
        height: 200px;
        z-index: -1;
        transform: translateY(-650px);
        /*top: ;*/
        /*right: 296px;*/
        text-align: center;
    }
    
    /* Initial assignment CSS code for "button-class" class
    .button-class {
        background-color: #fb7dab;
        border: none;
        color: #fb7dab;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: "Lato", sans-serif;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /*Safari */
        /*cursor: auto;
        background-color: #fb7dab;
        color: #000000;
        border: 2px solid #fb7dab;
    }*/
    
    .button-class {
        width: 200px;
        height: 180px;
        background-color: #fb7dab;
        border: none;
        color: white;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        margin: 10px;
        display: inline-block;
        z-index: 1;
        top: 350px;
        text-align: center;
        left: 610px;
        border-radius: 10px;
    }
    
    
    /* 2. If applied, this commit will have changed the "styles.css" file by adding CSS styling to the modal */
    #modal-container {
        position: fixed;
        padding: 20px;
        box-sizing: border-box;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /*background: rgba(0, 0, 0, 0.5);*/
        background: #fb7dab;
    
        /* to show it above other content */
        z-index: 999;
        
        /* to allow scrolling if the screen is not high enough*/
        overflow: auto; 
        
        /* this is used to center the modal */
        display: grid;
        text-align: center;
    }
      
    .modal {
        margin: auto;
        display: inline-block;
        box-sizing: border-box;
        background: #fb7dab;
        color: white;
        padding: 15px;
        width: 100%;
        max-width: 700px;
        text-align: left;
        text-transform: uppercase;
    }
      
    .modal-close {
        float: right;
        -webkit-appearance: none;
        border: 0;
        background: none;
        color: white;
        text-decoration: underline;
    }
      
    .modal h1 {
        margin-top: 0;
    }
      
    .modal p {
        margin-bottom: 0;
    }
      
    #modal-container {
        display: none;
    }
      
    #modal-container.is-visible {
        /* CSS for modal container - add your own desired CSS styles here */
        display: block;
    }
